:root {
    --dimension: 480px;
    --size: 17.14px;
    --primary-color: #E2725B;
    --secondary-color: #FFDB58;
    --accent-color: #FF7F50;
    --background-color: #FFFDD0;
    --text-color: #808000;
    --neutral-color: #FFE5B4;
}

html {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    gap: 30px;
    min-height: 100vh;
    background-color: var(--background-color);
}

header {
    text-align: center;
    flex: 1;
    font-size: 40px;
    padding: 30px;
    background-color: var(--primary-color);
    color: var(--text-color);
    max-height: 10vh;
}

main {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    gap: 0px;
    margin-right: 30px;
}

.menu .colorBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin-bottom: 10px;
}

.menu #color {
    margin: 5px 0px;
    padding: 0px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    width: 50px;
    height: 50px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

#color::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
  }
  #color:-moz-color-swatch {
    border-radius: 50%;
    border: none;
  }

.menu button {
    margin: 5px 0px;
    padding: 10px 20px;
    background-color: var(--accent-color);
    border: none;
    border-radius: 5px;
    font-size: 15px;
    width: 150px;
}

.menu button:hover {
    transition: 1s;
    outline: 2px solid var(--secondary-color);
    cursor: pointer;
    transform: scale(1.1,1.1);
}

.menu button:active {
    transition: .1s;
    transform: scale(1,1);
}

.container {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    display: flex;
    flex-flow: row wrap;
    width: var(--dimension);
    height: var(--dimension);
}

.container > div {
    width: var(--size);
    height: var(--size);
    /*outline: 1px solid gray;*/
}

.outline {
    outline: 1px solid gray;
}

/* .container > div:hover {
    transition: .1 s;
    background-color: lightgrey;
}
 */
footer {
    margin-top: auto;
    flex: 1;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
}

#monica-content-root {
    display: none;
} 